<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"> <!--подключение шаблонизатора thymeleaf-->
<head>
    <title>Матчи</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css"> <!--подключение файлов css-->
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<!--insert - встраивает фрагмент внутрь тега "путь :: фрагмент"-->
<div class="container mt-5">
    <!--container - встроенный класс, добавляющий отступы. mt-5 - отступы сверху, равные 5-ти пикс-->
    <h1>Матчи на неделю</h1>
    <div sec:authorize="hasAuthority('ADMIN')">
        <div class="btn-group">
            <a th:href="'/matches/add'" class="btn an" style="color: #fff; background-color: #ef2323; border-color: #ef2323">Добавить матч</a>
        </div>
    </div>
    <div class="album py-5 bg-light">
        <div class="container">
            <h2>Dota 2</h2>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col an" th:each="el : ${dota}" >
                    <div class="card shadow-sm blocks">
                        <img class="himg" th:src="${el.tournament.img}">
                        <div class="card-body">
                            <b th:text="${el.team1.name}"></b> vs <b th:text="${el.team2.name}"></b><br>
                            <!--                                <a><b>Дата: </b><a th:text="${el.date}"></a></a>-->
                            <b>Дата начала матча:</b>
                            <p th:text="${el.time.toString().replaceAll('T',' ')}"></p>
                        </div>
                        <div class="btn-cont" style="  padding-bottom: 20px; padding-left: 20px;">
                            <a th:href="'/matches/' + ${el.id}" class="btn" style="color: #fff; background-color: #ef2323; border-color: #ef2323">Детальнее</a>
                        </div>
                    </div>
                </div>
            </div>
            <h2>CS:GO</h2>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col an" th:each="el : ${cs}" >
                    <div class="card shadow-sm blocks">
                        <img class="himg" th:src="${el.tournament.img}">
                        <div class="card-body">
                            <b th:text="${el.team1.name}"></b> vs <b th:text="${el.team2.name}"></b><br>
                            <!--                                <a><b>Дата: </b><a th:text="${el.date}"></a></a>-->
                            <b>Дата начала матча:</b>
                            <p th:text="${el.time.toString().replaceAll('T',' ')}"></p>
                        </div>
                        <div class="btn-cont" style="  padding-bottom: 20px; padding-left: 20px;">
                            <a th:href="'/matches/' + ${el.id}" class="btn" style="color: #fff; background-color: #ef2323; border-color: #ef2323">Детальнее</a>
                        </div>
                    </div>
                </div>
            </div>
            <h2>League of Legends</h2>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col an" th:each="el : ${lol}" >
                    <div class="card shadow-sm blocks">
                        <img class="himg" th:src="${el.tournament.img}">
                        <div class="card-body">
                            <b th:text="${el.team1.name}"></b> vs <b th:text="${el.team2.name}"></b><br>
                            <!--                                <a><b>Дата: </b><a th:text="${el.date}"></a></a>-->
                            <b>Дата начала матча:</b>
                            <p th:text="${el.time.toString().replaceAll('T',' ')}"></p>
                        </div>
                        <div class="btn-cont" style="  padding-bottom: 20px; padding-left: 20px;">
                            <a th:href="'/matches/' + ${el.id}" class="btn" style="color: #fff; background-color: #ef2323; border-color: #ef2323">Детальнее</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--container - встроенный класс, добавляющий отступы. mt-5 - отступы сверху, равные 5-ти пикс-->
<!--insert - встраивает фрагмент внутрь тега "путь :: фрагмент"-->
</body>
</html>